@inherits LayoutComponentBase
<RadzenComponents />

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="5">
                <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                    <RadzenProfileMenu Visible="@Security.IsAuthenticated()" Click="@ProfileMenuClick">
                        <ChildContent>

                            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" Visible="@(Security.IsAuthenticated() || Security.User?.Name == "tenantsadmin")"/>
                            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" Visible="@(Security.IsAuthenticated() && Security.Tenant != null)"/>
                            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" Visible="@(Security.IsAuthenticated() && Security.Tenant != null)" />
                            <RadzenProfileMenuItem Path="application-tenants" Icon="account_balance_wallet" Text="Tenants" Visible="@(Security.User?.Name == "tenantsadmin")" />
                            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new" />
                        </ChildContent>
                        <Template>
                            @Security.User?.Name
                            <RadzenGravatar Email="@Security.User?.Name" />
                        </Template>
                    </RadzenProfileMenu>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded">
        <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="max-width: 1440px;">
            <RadzenColumn Size="12">
            @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
    <RadzenSidebar Expanded="@sidebarExpanded" style="z-index: 2">
        <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
            <RadzenImage Path="images/logo.png"  style="width: 48px; height: 48px;"></RadzenImage>
            <RadzenText Text="RadzenTestProj" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="rz-mb-0" style="color: var(--rz-sidebar-color);" />
        </RadzenStack>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Path="" />
            <RadzenPanelMenuItem Text="Accounts" Path="accounts" />
            <RadzenPanelMenuItem Text="CampaignLocationEvents" Path="campaign-location-events" />
            <RadzenPanelMenuItem Text="CampaignLocations" Path="campaign-locations" />
            <RadzenPanelMenuItem Text="Campaigns" Path="campaigns" />
            <RadzenPanelMenuItem Text="Contacts" Path="contacts" />
            <RadzenPanelMenuItem Text="ContactTypes" Path="contact-types" />
            <RadzenPanelMenuItem Text="Establishments" Path="establishments" />
            <RadzenPanelMenuItem Text="EventTypes" Path="event-types" />
            <RadzenPanelMenuItem Text="Locations" Path="locations" />
            <RadzenPanelMenuItem Text="People" Path="people" />
            <RadzenPanelMenuItem Text="Sessions" Path="sessions" />
        </RadzenPanelMenu>
        <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="RadzenTestProj v1.0.0" TextStyle="Radzen.Blazor.TextStyle.Caption" style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
            <RadzenText Text="Copyright Ⓒ 2024" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0" style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
        </RadzenStack>
    </RadzenSidebar>
</RadzenLayout>
