@page "/add-campaign-location"
@attribute [Authorize]

<PageTitle>Add CampaignLocation</PageTitle>
    <RadzenColumn SizeMD=12>
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save CampaignLocation</RadzenAlert>
        <RadzenTemplateForm TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocation" Data="@campaignLocation" Visible="@(campaignLocation != null && canEdit)" Submit="@FormSubmit">
            <RadzenRow style="margin-bottom: 1rem">
                <RadzenColumn SizeMD="3">
                    <RadzenLabel Text="Location" Component="Location" style="width: 100%" />
                </RadzenColumn>
                <RadzenColumn SizeMD="9">
                    <RadzenDropDownDataGrid Data="@locationsForLocationId" TextProperty="Name" ValueProperty="Id" AllowClear=true
                         Placeholder="Choose Location" style="display: block; width: 100%" @bind-Value="@campaignLocation.LocationId" Name="LocationId"
                           />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow style="margin-bottom: 1rem">
                <RadzenColumn SizeMD="3">
                    <RadzenLabel Text="Campaign" Component="Campaign" style="width: 100%" />
                </RadzenColumn>
                <RadzenColumn SizeMD="9">
                    <RadzenDropDownDataGrid Data="@campaignsForCampaignId" TextProperty="Name" ValueProperty="Id" AllowClear=true
                         Placeholder="Choose Campaign" style="display: block; width: 100%" @bind-Value="@campaignLocation.CampaignId" Name="CampaignId"
                           />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow style="margin-bottom: 1rem">
                <RadzenColumn SizeMD="3">
                    <RadzenLabel Text="Notes" Component="Notes" style="width: 100%" />
                </RadzenColumn>
                <RadzenColumn SizeMD="9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@campaignLocation.Notes" Name="Notes" />
                    <RadzenRequiredValidator Component="Notes" Text="Notes is required" />
                </RadzenColumn>
            </RadzenRow>
          <RadzenStack  Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
          </RadzenStack>
        </RadzenTemplateForm>
    </RadzenColumn>

