@page "/campaign-locations"
@attribute [Authorize]

<PageTitle>CampaignLocations</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="CampaignLocations" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
      <RadzenColumn SizeMD=12>
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"   AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
            Data="@campaignLocations" TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocation" RowDoubleClick="@EditRow">
            <Columns>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocation" Property="Id" Title="Id">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocation" Property="Location.Name" Title="Location">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocation" Property="Campaign.Name" Title="Campaign">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocation" Property="Notes" Title="Notes">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocation" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="campaignLocation">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, campaignLocation)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>

    </RadzenColumn>
  </RadzenRow>
</RadzenStack>
