@page "/campaign-location-events"
@attribute [Authorize]

<PageTitle>CampaignLocationEvents</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="CampaignLocationEvents" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
      <RadzenColumn SizeMD=12>
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"   AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
            Data="@campaignLocationEvents" TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" RowDoubleClick="@EditRow">
            <Columns>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Property="Id" Title="Id">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Property="CampaignLocation.Notes" Title="Campaign Location">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Property="ParticipantCount" Title="Participant Count">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Property="Entered" Title="Entered">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Property="Invoiced" Title="Invoiced">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Property="Paid" Title="Paid">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Property="EventType.Name" Title="Event Type">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Property="Notes" Title="Notes">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.CampaignLocationEvent" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="campaignLocationEvent">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, campaignLocationEvent)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>

    </RadzenColumn>
  </RadzenRow>
</RadzenStack>
