@page "/contacts"
@attribute [Authorize]

<PageTitle>Contacts</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Contacts" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
      <RadzenColumn SizeMD=12>
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"   AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
            Data="@contacts" TItem="RadzenTestProj.Models.RbsDbContext.Contact" RowDoubleClick="@EditRow">
            <Columns>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Contact" Property="Person.Name" Title="Person">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Contact" Property="Establishment.Name" Title="Establishment">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Contact" Property="ContactType.Name" Title="Contact Type">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Contact" Property="Phone" Title="Phone">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Contact" Property="Active" Title="Active">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Contact" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="contact">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, contact)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>

    </RadzenColumn>
  </RadzenRow>
</RadzenStack>
