@page "/locations"
@attribute [Authorize]

<PageTitle>Locations</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Locations" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
      <RadzenColumn SizeMD=12>
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"   AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
            Data="@locations" TItem="RadzenTestProj.Models.RbsDbContext.Location" RowDoubleClick="@EditRow">
            <Columns>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Location" Property="Id" Title="Id">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Location" Property="Establishment.Name" Title="Establishment">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Location" Property="Name" Title="Name">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Location" Property="Address" Title="Address">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Location" Property="City" Title="City">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Location" Property="Address_state" Title="Addressstate">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Location" Property="PostalCode" Title="Postal Code">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Location" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="location">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, location)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>

    </RadzenColumn>
  </RadzenRow>
</RadzenStack>
