@page "/profile"
@attribute [Authorize]

<PageTitle>Profile</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12">
            <RadzenText Text="Profile" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn SizeMD="12">
            <RadzenTemplateForm Method="post" Submit="@FormSubmit" TItem="RadzenTestProj.Models.ApplicationUser" Data="@user"
                Visible="@(user != null)">
                <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Title="Cannot change password" Visible="@errorVisible">@error</RadzenAlert>
                <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Visible="@successVisible">
                    Your password has been changed.
                </RadzenAlert>

                <RadzenRow style="margin-bottom: 1rem">
                    <RadzenColumn SizeMD="3">
                        <RadzenLabel Component="OldPassword" style="width: 100%" Text="Old Password" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="9">
                        <RadzenPassword @bind-Value="@oldPassword" style="display: block; width: 100%"
                            Name="OldPassword" />
                        <RadzenRequiredValidator Component="OldPassword" Text="Enter your current password" />
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow style="margin-bottom: 1rem">
                    <RadzenColumn SizeMD="3">
                        <RadzenLabel Component="NewPassword" style="width: 100%" Text="New Password" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="9">
                        <RadzenPassword @bind-Value="@newPassword" style="display: block; width: 100%"
                            Name="NewPassword" />
                        <RadzenRequiredValidator Component="NewPassword" Text="Enter your new password" />
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow style="margin-bottom: 1rem">
                    <RadzenColumn SizeMD="3">
                        <RadzenLabel Component="ConfirmPassword" style="width: 100%" Text="Confirm password" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="9">
                        <RadzenPassword @bind-Value="@confirmPassword" style="display: block; width: 100%"
                            Name="ConfirmPassword" />
                        <RadzenRequiredValidator Component="ConfirmPassword" Text="Confirm your new password" />
                        <RadzenCompareValidator Component="ConfirmPassword" Text="Passwords should be the same" Value="@newPassword" />
                    </RadzenColumn>
                </RadzenRow>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Change password" Variant="Variant.Flat" />
                </RadzenStack>
            </RadzenTemplateForm>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
