@page "/register-application-user"
@attribute [Authorize]

<PageTitle>Register Application User</PageTitle>
<RadzenRow>
    <RadzenColumn SizeMD="12">
        <RadzenTemplateForm Data="@user" TItem="RadzenTestProj.Models.ApplicationUser"
            Visible="@(user != null)" Submit="@FormSubmit">
            <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">@error</RadzenAlert>

            <RadzenRow style="margin-bottom: 1rem">
                <RadzenColumn SizeMD="4">
                    <RadzenLabel Component="userName" style="width: 100%" Text="Email" />
                </RadzenColumn>
                <RadzenColumn SizeMD="8">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(user.Email)"
                        Name="UserName" />
                    <RadzenRequiredValidator Component="UserName" Text="Email is required" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow style="margin-bottom: 1rem">
                <RadzenColumn SizeMD="4">
                    <RadzenLabel Component="Password" style="width: 100%" Text="Password" />
                </RadzenColumn>
                <RadzenColumn SizeMD="8">
                    <RadzenPassword style="display: block; width: 100%" @bind-Value="@(user.Password)"
                        Name="Password" />
                    <RadzenRequiredValidator Component="Password" Text="Password is required" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow style="margin-bottom: 1rem">
                <RadzenColumn SizeMD="4">
                    <RadzenLabel Component="ConfirmPassword" style="width: 100%" Text="Confirm password" />
                </RadzenColumn>
                <RadzenColumn SizeMD="8">
                    <RadzenPassword style="display: block; width: 100%" @bind-Value="@(user.ConfirmPassword)"
                        Name="ConfirmPassword" />
                    <RadzenRequiredValidator Component="ConfirmPassword" Text="ConfirmPassword is required" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Register" IsBusy="@isBusy" BusyText="Registering ..." Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@CancelClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenColumn>
</RadzenRow>
