@page "/sessions"
@attribute [Authorize]

<PageTitle>Sessions</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Sessions" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
      <RadzenColumn SizeMD=12>
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"   AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
            Data="@sessions" TItem="RadzenTestProj.Models.RbsDbContext.Session" RowDoubleClick="@EditRow">
            <Columns>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Session" Property="Id" Title="Id">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Session" Property="Account.HashedPassword" Title="Account">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Session" Property="Jti" Title="Jti">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Session" Property="RefreshToken" Title="Refresh Token">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Session" Property="Active" Title="Active">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Session" Property="Created" Title="Created">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTestProj.Models.RbsDbContext.Session" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="session">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, session)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>

    </RadzenColumn>
  </RadzenRow>
</RadzenStack>
